.page-warp{
    background: rgb(0, 48, 106);

    // overflow: hidden;
    .banner{
        img{
            width: 100%;
        }
    }
    .nav-list{
        width: 1180px;
        margin: 0 auto 155px;
        position: relative;
        .nav-list-1{
            width: 280px;
            height: 178px;
            background: #ffffff;
        }
        .swiper-pagination-bullet{
            width: 6px;
            height: 6px;
            opacity: 0.3;
            background: #FFFFFF;
            margin: 0 5px;
        }
        .swiper-pagination-bullet-active{
            opacity: 1;
        }
        .swiper-pagination{
            position: static;
            margin-top: 25px;
        }
        .button-prev, .button-next{
            width: 14px;
            height: 25px;
            position: absolute;
            z-index: 2;
            background-size: cover;
            left: -30px;
            outline: none;
        }
        .button-next{
            right: -30px;
            left: auto;
        }
    }
    .page-content-warp{
        width: 1200px;
        margin: 0 auto;
        h2{
            background: #000000;
            height: 100px;
            margin-bottom: 30px;
            width: 100%;
            text-indent: -9999px;
            img{
                width: 100%;
            }
        }
        .content-list{
            position: relative;
            margin-bottom: 26px;
            width: 585px;
            // height: 500px;
            float: left;
            img{
                width: 100%;
            }
            .msg{
                position: absolute;
                background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 13%, rgba(0,0,0,0.75) 100%);
                z-index: 2;
                bottom: 0px;
                padding-bottom: 41px;
                width: 100%;
                padding-left: 30px;
                box-sizing: border-box;
            }
            h3{
                font-family: PingFangSC-Semibold;
                font-size: 30px;
                color: #FFFFFF;
                letter-spacing: 0;
            }
            p{
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #FFFFFF;
                margin: 8px 0 16px;
                width: 375px;
            }
        }
        .content-list-wrap {
            padding-bottom: 70px;
            overflow: hidden;
            .content-list:nth-of-type(1){
                width: 1200px;
                .msg{
                    padding-bottom: 129px;
                    padding-left: 80px;
                }
                p{
                    font-family: PingFangSC-Light;
                    font-size: 15px;
                    color: #FFFFFF;
                    margin: 9px 0 24px;
                }
                h3{
                    font-size: 35px;
                    color: #FFFFFF;
                }
            }
            .content-list:nth-of-type(2n){
                margin-right: 30px;
            }
        }
    }
    .footer-nav{
        a{
            margin-right: 20px;
            font-family: PingFangSC-Medium;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: -0.05px;
        }
    }
}
@media screen and (max-width: 960px){
    .page-warp .nav-list{
        width: 100%;
    }
    .page-warp .nav-list .nav-list-1{
        width: 180px;
        height: 114px;
    }
    .page-warp .page-content-warp{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .page-warp .nav-list .button-prev, .page-warp .nav-list .button-next{
        display: none;
    }
    .page-warp .nav-list{
        margin-bottom: 35px;
    }
    .page-warp .page-content-warp .content-list-wrap .content-list{
        width: 100%;
        min-height: 256px;
        h3{
            font-size: 20px;
        }
        p{
            font-size: 12px;
            margin: 9px 0 12px;
            width: 83%;
        }
        .msg{
            padding: 0 0 22px 25px;
            width: 100%;
        }
        a{
            margin-right: 20px;
        }
    }
    .page-warp .page-content-warp .content-list-wrap .content-list:nth-of-type(1){
        width: 100%;
        h3{
            font-size: 26px;
        }
        p{
            font-size: 12px;
            margin: 9px 0 12px;
            width: 83%;
        }
    }
    .page-warp .page-content-warp .content-list-wrap .content-list:nth-of-type(1) .msg{
        h3{
            font-size: 26px;
        }
        padding: 0;
        width: 100%;
        top: 40px;
        padding-left: 25px;
    }
}
@media(min-device-width:1024px)and(max-device-width:1025px)and(-webkit-min-device-pixel-ratio:2){
    .page-warp .page-content-warp .content-list {
        width: 476px;}
    .page-warp .page-content-warp .content-list-wrap{
        width: 96%;
        margin: 0 auto;
    }
    .page-warp .page-content-warp .content-list-wrap .content-list:nth-of-type(1){
        width: 100%;
    }
    .page-warp .page-content-warp{
        width: 100%;

    }
    .page-warp .nav-list{
        width: 100%;
    }
    .page-warp .nav-list .button-prev, .page-warp .nav-list .button-next{
        display: none;
    }
}