body,ol,ul,h1,h2,h3,h4,h5,h6,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;font-weight: 100; font-size: 12px; 
  font-family: "PingFangSC-Medium","PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
}
p{
  margin: 0 ;
  padding: 0;
}
html{
  font-family: "PingFangSC-Medium","PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
}
body{font-size:12px;background:#fafafa;color:#6c6c6c;
    font-family: "PingFangSC-Medium","PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
}
a{color:#FFFFFF;text-decoration:none;}
i,em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word;font-family: "PingFangSC-Regular"}
.block{
	display: block !important;
}
button:focus {
  outline: none; }
textarea,input{outline: none;border: none;resize:none}
.clearfix:after{content:'.';clear:both;display: block;height:0px;overflow: hidden;visibility:hidden}
html {
  font-size: 20px;
  /* color: #FFFFFF; */
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}
html, body, ul, li, ol, h1, h2, h3, h4, h5, h6 {
  font-family:"PingFangSC-Medium", "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
  ;
  padding: 0;
  margin: 0;
  list-style: none;
}
.display-block{
  display: block !important;
  
}
.display-none{
  display: none !important;
}
i {
  font-style: normal;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
.l{
  float: left;
}
.r{
  float: right;
}
img {
  /* max-width: 100%; */
  vertical-align: top;
}
.flex{
  display: flex;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #BCBCBC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #BCBCBC;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #BCBCBC;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #BCBCBC;
}
.dot{
  height: 4px;
  width: 4px;
  background: #D8D8D8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: block;
  margin: 0 5px;
}
/* 显示省略好-webkit-line-clamp: 2; 默认显示两行*/
.p-omit{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.pointer{
  cursor: pointer;
}
.border-bottom{
  border-bottom: 1px solid #E5E5E5;
}
.border-radius{
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.img-cover{
width: 100%;
height: 100%;
max-width: 100%;
max-height: 100%;
object-fit: cover;
}
.mask-wrap{
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.30);
}
/* .own-img{
  width: 50px;
  height: 50px;
} */
.own-img2{
  width: 40px;
  height: 40px;
}
.radius-2px{
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.radius-50{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.spot{
  height: 4px;
  width:4px;
  display: block;
  background: #D8D8D8;
  margin: 0 6px;
}
.author-avator{
  cursor: pointer;
}
.shadow-animation{
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  
}
.shadow-animation:hover{
  box-shadow: 0 15px 15px 0 rgba(15, 37, 64, 0.1);
}
.border-active{
  -webkit-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.border-active::after{
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 0);
                height: 2px;
                width: 0;
                background: none;
                display: block;
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                -webkit-transition: all 1s ease 0s;
                -ms-transition: all 1s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
}
.border-active:hover{
  color: #333333;
                    
}
.border-active:hover::after{
  background: #333;
   width: 100%;
}
.active.border-active::after{
  width: 100%;
  background: #333;
}
/****************** 图片浏览器重置样式 start  content: "\e961";****************/ 
.lg-outer.lg-thumb-open .lg-thumb-outer {
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  /* display: none; */
}
.lg-outer .lg-thumb-outer{
  display: none;
}
.lg-backdrop {
  background-color: #000000a6;}
  .lg-actions .lg-next, .lg-actions .lg-prev {

  border-radius: 50%;
  display: block !important;
}
.lg-toolbar{
    background: none;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}
#lg-counter {
  position: absolute;
  bottom: 0px;
  left: 50%;
  color: #fff;

}
.lg-outer.lg-visible{
  width: 1200px;
  /* width: 100%; */
  bottom: 0;
  right: 0;
  margin: auto;
}
.lg-outer .lg{
  overflow:inherit;
}
.lg-icon{
display: none;
color: #fff;
}
.lg-close.lg-icon{
 opacity: 1;
display: block;

}

.lg-actions .lg-prev{
  left: -5%;
}
.lg-actions .lg-next{
  right: -5%;
}
.lg-outer .lg-inner{
  overflow: hidden;
  /* height: 90%; */
}
.lg-outer{
  height: 90%;
}
.lg-toolbar .lg-close,.lg-actions .lg-next,.lg-actions .lg-prev{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 15px;
}
.lg-toolbar .lg-close{
  position: fixed;
  top: -40px;
  right: -40px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #000;
  background-color: rgba(0,0,0,.5);
}
.lg-toolbar .lg-close:after{ 
  content: "\e961";
  position: absolute;
  bottom: 15px;
  left: 15px;
  bottom: 18px;
    left: 18px;

}
.lg-actions .lg-next:before{
  content: "\e96f";
}
.lg-actions .lg-prev:after{
  content: "\e96e";
}
.lg-actions .lg-next, .lg-actions .lg-prev{
  background: none;
  font-size: 16px;
}
.lg-object.lg-image{
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/********************* 图片浏览器重置样式 end************/

/* ***********************三角形 start******************** */
.triangle-bottom-icon{
  width:0px;
  height:0px;
  border-top:10px solid rgba(0,0,0,0);
  border-right:10px solid  rgba(0,0,0,0);
  border-bottom:10px solid #ffffff;
  border-left:10px solid  rgba(0,0,0,0);
}
.triangle-right-icon{
  width:0px;
  height:0px;
  border-top:10px solid rgba(0,0,0,0);
  border-bottom:10px solid  rgba(0,0,0,0);
  border-right:10px solid #4790E5;
  border-left:10px solid  rgba(0,0,0,0);
}
.triangle-top-icon{
  width:0px;
  height:0px;
  border-bottom:10px solid rgba(0,0,0,0);
  border-right:10px solid  rgba(0,0,0,0);
  border-top:10px solid #4790E5;
  border-left:10px solid  rgba(0,0,0,0);
}
.triangle-left-icon{
  width:0px;
  height:0px;
  border-top:10px solid rgba(0,0,0,0);
  border-right:10px solid  rgba(0,0,0,0);
  border-left:10px solid #4790E5;
  border-bottom:10px solid  rgba(0,0,0,0);
}
.arrow-icon {
  position: absolute;
  z-index: 91;
  top: -8px;
  left: 40px;
  background: #fff;
  }
  
  .arrow-icon:after {
    content: '';
    display: block;
    background: #fff;
    width: 16px;
    height: 16px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.10);
    transform: rotate(45deg);
  }
  
  .arrow-icon:before {
    position: absolute;
    z-index: 2;
    content: '';
    display: block;
    background: #ffffff;
    width: 66px;
    height: 20px;
    top: 8px;
    left: -24px;
  }
  
/* ***********************三角形 end******************** */
/* // 标签样式 */
.label-icon-1,
.label-icon-2 {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #9BC2D9;
    line-height: 12px;
    padding: 5px 10px;
    background: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    margin-right: 5px;
}
.label-icon-2 {
    background: #F5F7F9;
    color: #9BC2D9;
    
}
/* 空状态背景图start */
.verify-groud-icon{
  background: url(../images/verify_group_icon@3x.png);
  background-size: cover;
  width: 33px;
  height: 35px;
  margin: 0 0 -12px -10px !important;
}
.blankPage{
    width: 100%;
    height: 500px;
    text-align: center;
}
.blankPage-info a{
  color: #306E96;
  font-weight: bold;
  margin-left: 6px;
}
.blankPage-info{
  font-size: 14px;
  color: #C9D6DE;
  letter-spacing: 0;
  line-height:14px;
  margin-top: 20px;
}
.empty-icon{
  width: 80px;
  height: 74px;
  background-size: cover;
  margin: 130px auto 20px;
}
.empty-icon1{
  background: url(../fonts/svg/01.svg);
}
.empty-icon2{
  background: url(../fonts/svg/02.svg);
}
.empty-icon3{
  width: 62px;
  background: url(../fonts/svg/03.svg);
}
.empty-icon4{
  width: 73px;
  background: url(../fonts/svg/04.svg);
}
.empty-icon5{
  width: 70px;
  background: url(../fonts/svg/05.svg);
}
.empty-icon6{
  width: 60px;
  background: url(../fonts/svg/06.svg);
}
.empty-icon7{
  background: url(../fonts/svg/07.svg);
}

.empty-icon8{
  width: 66px;
  background: url(../fonts/svg/08.svg);
}.empty-icon1{
  background: url(../fonts/svg/01.svg);
}
.empty-icon9{
  background: url(../fonts/svg/09.svg);
}
.empty-icon10{
  background: url(../fonts/svg/010.svg);
}
.empty-icon11{
  background: url(../fonts/svg/011.svg);
}
.empty-icon12{
  background: url(../fonts/svg/012.svg);
}
.empty-icon13{
  background: url(../fonts/svg/013.svg);
}
.empty-icon14{
  background: url(../fonts/svg/014.svg);
}

.interest-live-icon{
  background: url(../images/interest_tl_live_icon.png);
  width: 80px;
  height: 74px;
  background-size: cover;
}
/* 空状态背景图end */


/********************************字体 start***********************************/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kf3he');
  src:  url('../fonts/icomoon.eot?kf3he#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kf3he') format('truetype'),
    url('../fonts/icomoon.woff?kf3he') format('woff'),
    url('../fonts/icomoon.svg?kf3he#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all__setting:before {
  content: "\e956";
}
.icon-all_arrow:before {
  content: "\e957";
}
.icon-all_comment-copy:before {
  content: "\e958";
}
.icon-all_delete:before {
  content: "\e959";
}
.icon-all_done:before {
  content: "\e95a";
}
.icon-all_edit_photo:before {
  content: "\e95b";
}
.icon-all_editor:before {
  content: "\e95c";
}
.icon-all_favorites:before {
  content: "\e95d";
}
.icon-all_iocation:before {
  content: "\e95e";
}
.icon-all_like-copy:before {
  content: "\e95f";
}
.icon-all_more:before {
  content: "\e960";
}
.icon-all_off:before{
  content: "\e961";
}
.icon-all_phone:before {
  content: "\e962";
}
.icon-all_play:before {
  content: "\e963";
}
.icon-all_plus_photo:before {
  content: "\e964";
}
.icon-all_qq:before {
  content: "\e965";
}
.icon-all_refresh:before {
  content: "\e966";
}
.icon-all_repost-copy:before {
  content: "\e967";
}
.icon-all_search:before {
  content: "\e968";
}
.icon-all_see:before {
  content: "\e969";
}
.icon-all_tag:before {
  content: "\e96a";
}
.icon-all_wechat:before {
  content: "\e96b";
}
.icon-all_weibo:before {
  content: "\e96c";
}
.icon-arrow_down:before {
  content: "\e96d";
}
.icon-arrow_left:before {
  content: "\e96e";
}
.icon-arrow_right:before {
  content: "\e96f";
}
.icon-arrow_up:before {
  content: "\e970";
}
.icon-cooperation_geetest:before {
  content: "\e971";
}
.icon-cooperation_qiniu:before {
  content: "\e972";
}
.icon-cooperation_shangzhibo:before {
  content: "\e973";
}
.icon-cooperation_upyun:before {
  content: "\e974";
}
.icon-full:before {
  content: "\e975";
}
.icon-live_line:before {
  content: "\e976";
}
.icon-Shape-Copy:before {
  content: "\e977";
}
.icon-tag_claim_on_icon:before {
  content: "\e978";
}
.icon-top_bell:before {
  content: "\e979";
}
.icon-top_message:before {
  content: "\e97a";
}
.icon-video_pause:before {
  content: "\e97b";
}
.icon-video_volume_add:before {
  content: "\e97c";
}
.icon-video_volume_subtract:before {
  content: "\e97d";
}
.icon-pause_icon:before {
  content: "\e955";
}
.icon-fullscreen_off:before {
  content: "\e950";
}
.icon-fullscreen_on:before {
  content: "\e951";
}
.icon-play_arrow:before {
  content: "\e952";
}
.icon-volume_off:before {
  content: "\e953";
}
.icon-volume:before {
  content: "\e954";
}
.icon-Dgtlex-dgtlexlogo-Collaboration-shangzhibo:before {
  content: "\e94f";
}
.icon-Dgtlex-dgtlexicon-live-line:before {
  content: "\e94c";
}
.icon-Dgtlex-dgtlexicon-Time:before {
  content: "\e94b";
}
.icon-xchuxingicon_play:before {
  content: "\e94a";
}
.icon-Dgtlex-dgtlexicon-tips:before {
  content: "\e949";
}
.icon-Dgtlex-dgtlexicon-wom:before {
  content: "\e90b";
}
.icon-Dgtlex-dgtlexlogo-Collaboration-qiniu:before {
  content: "\e932";
}
.icon-Dgtlex-dgtlexlogo-Dgtlelogo:before {
  content: "\e936";
}
.icon-Dgtlex-dgtlexicon-search:before {
  content: "\e906";
}
.icon-Dgtlex-dgtlexicon-portals-admin:before {
  content: "\e946";
}
.icon-Dgtlex-dgtlexicon-Cloud-platform:before {
  content: "\e947";
}
.icon-Dgtlex-dgtlexicon-admin-center:before {
  content: "\e948";
}
.icon-Dgtlex-dgtlexicon-more-horizontal:before {
  content: "\e937";
}
.icon-Dgtlex-dgtlexicon-Refresh:before {
  content: "\e94d";
}
.icon-Dgtlex-dgtlexicon-Home-commend:before {
  content: "\e94e";
}
.icon-Dgtlex-dgtlexlogo-Collaboration-upyun:before {
  content: "\e933";
}
.icon-Dgtlex-dgtlexlogo-Collaboration-geetest:before {
  content: "\e934";
}
.icon-Dgtlex-dgtlexicon-sina-weibo:before {
  content: "\e92a";
}
.icon-Dgtlex-dgtlexicon-eye-solid:before {
  content: "\e938";
}
.icon-Dgtlex-dgtlexicon-chevron-left:before {
  content: "\e939";
}
.icon-Dgtlex-dgtlexicon-chevron-left-bold:before {
  content: "\e93a";
}
.icon-Dgtlex-dgtlexicon-arrow-button-up:before {
  content: "\e93b";
}
.icon-Dgtlex-dgtlexicon-arrow-button-down:before {
  content: "\e93c";
}
.icon-Dgtlex-dgtlexicon-play2:before {
  content: "\e93d";
}
.icon-Dgtlex-dgtlexicon-qzone:before {
  content: "\e93e";
}
.icon-Dgtlex-dgtlexicon-douban:before {
  content: "\e93f";
}
.icon-Dgtlex-dgtlexicon-more-vertical:before {
  content: "\e940";
}
.icon-Dgtlex-dgtlexicon-mark:before {
  content: "\e941";
}
.icon-Dgtlex-dgtlexicon-arrow-button-right:before {
  content: "\e942";
}
.icon-Dgtlex-dgtlexicon-arrow-button-left:before {
  content: "\e943";
}
.icon-Dgtlex-dgtlexicon-tag:before {
  content: "\e944";
}
.icon-Dgtlex-dgtlexicon-message:before {
  content: "\e945";
}
.icon-Dgtlex-dgtlexicon-Plus:before {
  content: "\e935";
}
.icon-Dgtlex-dgtlexicon-avatar-solid:before {
  content: "\e931";
}
.icon-Dgtlex-dgtlexicon-wechat:before {
  content: "\e92b";
}
.icon-Dgtlex-dgtlexicon-pk:before {
  content: "\e92c";
}
.icon-Dgtlex-dgtlexicon-avatar:before {
  content: "\e92d";
}
.icon-Dgtlex-dgtlexicon-play:before {
  content: "\e92e";
}
.icon-Dgtlex-dgtlexicon-moon:before {
  content: "\e92f";
}
.icon-Dgtlex-dgtlexicon-Question-and-Answer:before {
  content: "\e930";
}
.icon-Dgtlex-dgtlexicon-camera:before {
  content: "\e901";
}
.icon-Dgtlex-dgtlexicon-biaoqing:before {
  content: "\e902";
}
.icon-Dgtlex-dgtlexicon-picture:before {
  content: "\e903";
}
.icon-Dgtlex-dgtlexicon-AT:before {
  content: "\e904";
}
.icon-Dgtlex-dgtlexicon-Pencil:before {
  content: "\e905";
}
.icon-Dgtlex-dgtlexicon-bells:before {
  content: "\e907";
  color: #808080;
}
.icon-Dgtlex-dgtlexicon-wrong:before {
  content: "\e908";
}
.icon-Dgtlex-dgtlexicon-Mall:before {
  content: "\e909";
}
.icon-Dgtlex-dgtlexicon-Map-marker:before {
  content: "\e900";
}
.icon-Dgtlex-dgtlexicon-men:before {
  content: "\e90a";
}
.icon-Dgtlex-dgtlexicon-heart-empty:before {
  content: "\e90c";
}
.icon-Dgtlex-dgtlexicon-hot:before {
  content: "\e90d";
}
.icon-Dgtlex-dgtlexicon-eye:before {
  content: "\e90e";
}
.icon-Dgtlex-dgtlexicon-picture-empty:before {
  content: "\e90f";
}
.icon-Dgtlex-dgtlexicon-picture2:before {
  content: "\e910";
}
.icon-Dgtlex-dgtlexicon-star-empty:before {
  content: "\e911";
}
.icon-Dgtlex-dgtlexicon-italic:before {
  content: "\e912";
}
.icon-Dgtlex-dgtlexicon-font-size:before {
  content: "\e913";
}
.icon-Dgtlex-dgtlexicon-align-left:before {
  content: "\e914";
}
.icon-Dgtlex-dgtlexicon-align-center:before {
  content: "\e915";
}
.icon-Dgtlex-dgtlexicon-align-right:before {
  content: "\e916";
}
.icon-Dgtlex-dgtlexicon-bold:before {
  content: "\e917";
}
.icon-Dgtlex-dgtlexicon-list:before {
  content: "\e918";
}
.icon-Dgtlex-dgtlexicon-quotes:before {
  content: "\e919";
  color: #808080;
}
.icon-Dgtlex-dgtlexicon-video:before {
  content: "\e91a";
}
.icon-Dgtlex-dgtlexicon-link:before {
  content: "\e91b";
}
.icon-Dgtlex-dgtlexicon-link-off:before {
  content: "\e91c";
}
.icon-Dgtlex-dgtlexicon-Underline:before {
  content: "\e91d";
}
.icon-Dgtlex-dgtlexicon-Clear-font:before {
  content: "\e91e";
}
.icon-Dgtlex-dgtlexicon-glyphicon-off:before {
  content: "\e91f";
}
.icon-Dgtlex-dgtlexicon-me:before {
  content: "\e920";
}
.icon-Dgtlex-dgtlexicon-plus:before {
  content: "\e921";
}
.icon-Dgtlex-dgtlexicon-star:before {
  content: "\e922";
}
.icon-Dgtlex-dgtlexicon-speaker:before {
  content: "\e923";
}
.icon-Dgtlex-dgtlexicon-settings:before {
  content: "\e924";
}
.icon-Dgtlex-dgtlexicon-chevron-right:before {
  content: "\e925";
}
.icon-Dgtlex-dgtlexicon-chevron-right-bold:before {
  content: "\e926";
}
.icon-Dgtlex-dgtlexicon-rss:before {
  content: "\e927";
}
.icon-Dgtlex-dgtlexicon-comment:before {
  content: "\e928";
}
.icon-Dgtlex-dgtlexicon-like:before {
  content: "\e929";
}

/********************************字体 end***********************************/


 /*按钮加载更多 搜索关注 start*/
 .icon-more,.icon-more2{
  position: relative;
  /* z-index: 100; */
}
.icon-more span,.icon-more2 span ,.icon-more3 span{
  position: relative;
  cursor: pointer;
  z-index: 2;
  box-sizing: border-box;
  will-change: transform, filter, border-color;
  transform-style: preserve-3d;
  transition: transform 0.5s ease, filter 0.5s ease;
  background: #E5E5E5;
  display: block;
  border-radius: 100px;
  height: 40px;
  line-height: 40px;
  width: 140px;
  text-align: center;
  color: #999;
  -webkit-transition: transform 0.5s ease, filter 0.5s ease;
  -moz-transition: transform 0.5s ease, filter 0.5s ease;
  -ms-transition: transform 0.5s ease, filter 0.5s ease;
  -o-transition: transform 0.5s ease, filter 0.5s ease;
  /* border: 1px solid transparent; */
  /* box-sizing: border-box; */
}
.icon-more3 span{
  width: 80px;
  height: 34px;
  color: #fff;
  line-height: 34px;
  display: block;
  background-image: linear-gradient(-180deg, #4790E5 0%, #52A5F4 100%);
border-radius: 17px;
}  
.icon-more:hover span,.icon-more3:hover span{
  /* background-image: linear-gradient(-180deg, #4790E5 0%, #52A5F4 100%) !important; */
  background-image: linear-gradient(-180deg, #4790E5 0%, #3BCFFF 99%) !important;
  border: none !important;
  box-shadow: 0px 7px 20px #4690d485;
  color: #fff !important;
  filter: brightness(1.05) contrast(1.05);
  transform: scale(1.1);
  -webkit-filter: brightness(1.05) contrast(1.05);
}

.icon-more2:hover span{
  /* background-image: linear-gradient(-180deg, #4790E5 0%, #52A5F4 100%); */
  background-image: linear-gradient(-180deg, #59DFA4 0%, #61F9A8 96%) !important;
  border: none !important;
  box-shadow: 0px 7px 20px #59DFA4;
  color: #fff !important;
  filter: brightness(1.05) contrast(1.05);
  transform: scale(1.1);
}

/*按钮加载更多 end*/


/*===============加载动画 start=======================*/

.spinner {
  margin: 100px auto 0;
  width: 150px;
  text-align: center;
}

.spinner>div {
  width: 30px;
  height: 30px;
  background-color: #C9D6DE;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*===============加载动画 end=======================*/